prototype/
configs/*.json
!configs/*.simple.json
!configs/router.json
node_modules/
public/site/lib/
public/site/data/content/*
public/site/data/index/*
public/site/data/tags/*
!public/site/data/content/.gitkeep
!public/site/data/index/.gitkeep
!public/site/data/tags/.gitkeep