<div ng-controller="article-add-controller">
    <form ng-submit="submit()" class="ui small form">
        <div class="field">
            <label>标题</label>
            <input type="text" ng-model="data.title" />
        </div>
        <div class="field">
            <label>内容</label>
            <textarea ng-model="data.content"></textarea>
        </div>
        <div class="field">
            <label>标签(,)</label>
            <input type="text" ng-model="data.tags" />
        </div>
        <div class="field">
            <label>时间</label>
            <input type="date" ng-model="data.date" />
        </div>
        <button class="ui blue submit button" type="submit">提交</button>
    </form>
</div>